@charset "utf-8";
.fa,
.fa::before,
.fab,
.far,
.fas,
.fas::before {
  font-family: fontawesome !important;
}
@font-face {
  font-family: fontawesome;
  src: url("../fonts/reservation_fontawesome-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/reservation_fontawesome-webfont.woff") format("woff"),
    url("../fonts/reservation_fontawesome-webfont.ttf") format("truetype"),
    url("../fonts/reservation_fontawesome-webfont.svg") format("svg"),
    url("../fonts/reservation_fa-brands.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@font-face {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/reservation_fa-brands.eot");
  src: url("../fonts/reservation_fa-brands.eot") format("embedded-opentype"),
    url("../fonts/reservation_fa-brands.woff") format("woff"),
    url("../fonts/reservation_fa-brands.ttf") format("truetype"),
    url("../fonts/reservation_fa-brands.svg") format("svg");
}
.fab,
.far {
  font-weight: 400;
}
@font-face {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/reservation_fa-regular.eot");
  src: url("../fonts/reservation_fa-regular.eot") format("embedded-opentype"),
    url("../fonts/reservation_fa-regular.woff") format("woff"),
    url("../fonts/reservation_fa-regular.ttf") format("truetype"),
    url("../fonts/reservation_fa-regular.svg") format("svg");
}
@font-face {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/reservation_fa-solid.eot");
  src: url("../fonts/reservation_fa-solid.eot") format("embedded-opentype"),
    url("../fonts/reservation_fa-solid.ttf") format("truetype"),
    url("../fonts/reservation_fa-solid.svg") format("svg");
}
.fa,
.fas {
  font-weight: 900;
}
@font-face {
  font-family: IRANSansWeb;
  src: url("../fonts/reservation_IRANSansWeb(FaNum).ttf") format("truetype"),
    url("../fonts/reservation_IRANSansWeb(FaNum).eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: IRANSansWebEnNum;
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/reservation_IRANSansWeb_Medium.eot");
  src: url("../fonts/reservation_IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/reservation_IRANSansWeb_Medium.woff2") format("woff2"),
    url("../fonts/reservation_IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/reservation_IRANSansWeb_Medium.ttf") format("truetype");
}
:root {
  /* Primary Colors */
  --primary: #110f5a;
  --primary-950: #07064d;
  --primary-900: #110f5a;
  --primary-800: #1f206f;
  --primary-700: #272a7b;
  --primary-600: #2f3386;
  --primary-500: #353a8f;
  --primary-400: #51569f;
  --primary-300: #6e73ae;
  --primary-200: #9699c5;
  --primary-100: #bfc1dd;
  --primary-50: #e5e6f1;
  /* Secondary Colors */
  --secondary: #ea550b;
  --secondary-950: #ea550b;
  --secondary-900: #fe6b22;
  --secondary-800: #ff8a23;
  --secondary-700: #ff9b23;
  --secondary-600: #ffae23;
  --secondary-500: #ffbc26;
  --secondary-400: #ffc536;
  --secondary-300: #ffd056;
  --secondary-200: #ffdd85;
  --secondary-100: #ffeab5;
  --secondary-50: #fff7e2;
  /* Zinc Colors */
  --zinc-950: #09090b;
  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
}
.Basis_Calendar .basis_s_day,
.Basis_Calendar .day_of_date,
.Basis_Calendar .month_of_date,
.after-btn:hover,
.before-btn:hover,
.fa-times,
.font-color_1,
.font-color_2,
.highlight,
.mm-spn li:before,
.mm-spn.mm-spn--navbar:before,
.reserve-button:hover,
.section-filter-icon button:hover,
.section-research-left button:hover,
.select-arrow::before,
.selectCountry i,
.sort-box .sort-items li.active {
  color: var(--primary-600);
}
.background-color_1 {
  background: var(--primary-600) !important;
}
.item-search:before {
  border: 1px dashedvar(--primary-600);
}
.top-menu {
  background: linear-gradient(-135deg, var(--primary-600), #3a434a);
}
.Basis_Calendar .selected_day,
.createChildDropdown select,
.second-part-header .col1-second-part-header a span,
.second-part-header .col1-second-part-header a:after,
.second-part-header .col1-second-part-header a:before,
.section-details button:hover,
.section-input_2 input[type="checkbox"]:checked + label span.checkbox::after {
  background: var(--primary-600);
}
.total-cost {
  color: #00a703;
  font-size: 15px;
}
.reserve-button {
  border: 1px solidvar(--primary-600);
}
.title-result {
  border-bottom: 1px solidvar(--primary-600);
}
.confirm {
  background: linear-gradient(-90deg, var(--primary-600) 0, #a7e5da 100%);
}
.confirm:hover {
  background: linear-gradient(-90deg, #a7e5da 0, var(--primary-600) 100%);
}
.details-item-title {
  border-bottom: 2px solidvar(--primary-600);
}
.section-details button,
.section-input_2 span.checkbox::before {
  border: 2px solidvar(--primary-600);
}
.progress-bar {
  background: var(--primary-600);
  background-image: -webkit-linear-gradient(
    top,
    var(--primary-600) 0,
    (--secondary-600) 100%
  );
  background-image: -o-linear-gradient(
    top,
    var(--primary-600) 0,
    (--secondary-600) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--primary-600)),
    to((--secondary-600))
  );
  background-image: linear-gradient(
    to bottom,
    var(--primary-600) 0,
    (--secondary-600) 100%
  );
  background-repeat: repeat-x;
}
.radioButton:checked + label span::after {
  color: var(--primary-600);
  border: 2px solidvar(--primary-600);
  color: #465f88;
  border: 3px;
}
.link-2:hover:after {
  border-color: var(--primary-600);
}
.ui-datepicker-buttonpane .ui-datepicker-current:focus,
.ui-datepicker-buttonpane .ui-datepicker-current:hover,
.ui-datepicker-buttonpane .ui-state-default:focus,
.ui-datepicker-buttonpane .ui-state-default:hover {
  background-color: var(--primary-600);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solidvar(--primary-600);
  background: var(--primary-600) !important;
}
.loader {
  border-top: 5px solidvar(--primary-600);
}
.Link-Forgetpass:hover,
.Link-Login:hover,
.Link-Register:hover,
.Link-ResendMail:hover {
  color: var(--primary-600) !important;
}
.ChangeFlight-header {
  background: linear-gradient(-135deg, var(--primary-600), #a7e5da);
}
.active_tab_tour {
  color: #fff !important;
  background: var(--primary-600);
}
.Basis_Calendar .selected_date,
.active-item-search img,
.category-title:hover {
  background: #465f88 !important;
}
.CountPassenger.room::before,
.active-item-search .fa-arrow-down:before {
  color: #465f88 !important;
}
.active-item-search .item-search:before {
  border: 1px !important;
  display: none;
}
.CountPassenger.room::before,
.Others-Button:hover,
.circle,
.details-button:hover,
.highlight,
.row1-footer .fa:hover,
.row1-footer .far:hover,
.sort-box .sort-items li.active {
  color: #465f88;
}
.background-color_2 {
  background: var(--secondary-900) !important;
}
.add-room {
  background: linear-gradient(-90deg, #465f88 0, var(--secondary-900) 100%);
}
.Others-Button,
.details-button,
.row1-footer .fa,
.row1-footer .far {
  border: 1px;
}
.Basis_Calendar .month_day_list table td:hover,
.Basis_Calendar .month_detail,
.controlsPage:hover,
.fa-angle-double-left:hover,
.fa-angle-double-right:hover,
.right-border-d::after,
.right-border-d::before,
.row1-footer .fa,
.row1-footer .far,
.ui-datepicker-today .ui-state-highlight {
  background: #465f88;
}
.right-border-d {
  border-left: 2px;
}
.ui-datepicker .ui-datepicker-buttonpane button,
.ui-datepicker table thead th {
  background-color: #465f88;
}
.fa.fa-user.is-login,
.selected {
  color: #00a703;
}
.section_tour_room.active_room span,
.width_100 button {
  background: #00a703;
}
.submit:hover {
  color: #34495e;
}
.font-color_3 {
  color: var(--secondary-900);
}
.background-color_3 {
  background: var(--secondary-900);
}
.font-color_4 {
  color: #fff;
}
.top-menu img {
  width: 70px;
  height: auto;
  filter: none;
  -webkit-filter: none;
}
.col2-second-part-header img {
  height: auto;
  margin-top: 15px;
}
.mm-spn.mm-spn--navbar ul {
  margin-top: 100px !important;
}
.Basis_Calendar .date_info_selected,
.Basis_Calendar .month_detail {
  border-bottom: 2px solid var(--primary-600);
}
.close-search-box::before {
  color: var(--secondary-900) !important;
}
.warning {
  color: red;
}
@font-face {
  font-display: swap;
  font-family: Dana;
  font-style: normal;
  font-weight: 400;
  src: url("../_fonts/Dana-Regular.woff") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Dana-Medium;
  font-style: normal;
  font-weight: 400;
  src: url("../_fonts/Dana-Medium.woff") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Dana-Bold;
  font-style: normal;
  font-weight: 400;
  src: url("../_fonts/Dana-Bold.woff") format("truetype");
}
*,
html {
  font-family: Dana !important;
}
@font-face {
  font-display: swap;
  font-family: fontawesome;
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../_fonts/fontawesome5-solid-900.eot");
  src: url("../_fonts/fontawesome5-solid-900.eot") format("embedded-opentype"),
    url("../_fonts/fontawesome5-solid-900.ttf") format("truetype"),
    url("../_fonts/fontawesome5-solid-900.svg") format("svg");
}
.currency-selected::before {
  font-weight: 900 !important;
}
